TestWindowsService/Connected Services/ServiceReference/FcpsUserManagerService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DB_API_STS.STSModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB_API_STS.STSModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetRoleGroupById_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoleGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRoleGroupById_Result" nillable="true" type="tns:GetRoleGroupById_Result" />
  <xs:complexType name="GetRoleById_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatorUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRoleById_Result" nillable="true" type="tns:GetRoleById_Result" />
</xs:schema>